.root {
    -fx-font-family: "Montserrat";

}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.text-field, .password-field{
    -fx-font-size: 20px;
    -fx-max-height: 30;
    -fx-max-width: 200;
}

.button{
    -fx-max-height: 20;
    -fx-font-size: 18px;

    -fx-max-width: 120;
}
.button:hover {
    -fx-cursor: hand;
}
