.root {
    -fx-font-family: "Montserrat";
}
.label {
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}
.text-field{
    -fx-font-size: 20px;
    -fx-max-height: 20;
    -fx-max-width: 140;
}
.button{
    -fx-max-height: 20;
    -fx-font-size: 18px;
    -fx-max-width: 260;
}
.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #2C3E50;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.label-terminacion {
    -fx-font-size : 15px;
}